.o_web_client{
    .o_kanban_document{
        .o_kanban_record{
            .o_kanban_image{
                >a{
                    display: block;
                    position: relative;
                    >.badge{
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
            }
        }
    }
}
