.pos .qty-tag{
    position: absolute;
    top: 2px;
    left: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #32a868;
    padding: 2px 5px;
    border-radius: 2px;
    font-weight: bold;
    display: none;
}

.pos .product{
    transition: all 1s ease;
}

.pos .qty-tag.sold-out{
    background: #EF5350;
}

.pos .product.disable{
    pointer-events: none;
    opacity: 0.4;
}
